// #formbg {
//   background-image: url(“https://images.unsplash.com/photo-1595114720921-5a56692ed4ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80
// “);}

#formbg{
  background-image: url("https://cf.ltkcdn.net/seniors/images/orig/216308-2120x1414-Smiling-seniors.jpg");
  background-size: cover;
  height: 100vh;
}


.bookingform{
  background: purple !important;
  max-width: 500px;
  color: blue;
  
}

.bookingform-button{
  background-color: orange;
  color: brown;
}
