
<%# <h1>Grandparents</h1> %>


<div class="container">
  <div class="row justify-content-between">
      <% @grandparents.each do |grandparent|%>
        <div class="card-grandparents col-6 mt-5">
          <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
          <div class="card-grandparents-infos">
            <h2><%= grandparent.name %></h2>
            <h2><%= grandparent.age %> years old</h2>
            <br>
            <h2><%= link_to "See more", grandparent_path(grandparent)%></h2>
        <% if grandparent.user == current_user %>
            <h2><%= link_to "Book", new_grandparent_booking_path(grandparent)%></h2>
        <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
