
<h1>Grandparents</h1>

<ul class="container">
  <% @grandparents.each do |grandparent| %>
    <li>
      <h2 class="me-3"> <%= grandparent.name %> </h2>
      <p>age: <%= grandparent.age %> </p>
      <%= link_to "See more", grandparent_path(grandparent)%>
     <%# <img src="<%= grandparent.imageUrl" alt="img" width="50" height="50"> %>
    </li>
  <% end %>
 </ul>
