<%# <h1>Pages#home</h1> %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/dreamy-thoughtful-elderly-european-woman-keeps-lips-rounded-looks-aside-thinks-about-something-pleasant-dressed-fashionable-clothes_273609-50096.jpg?w=2000);">
  <div class="container">
    <div class="banner-text">
    <h1 class="display-1" >Want me to take care of you ?</h1>
    <p>Fancying warm milk and cookies ?</p>
    <p>Want to play scrabble with me ?</p>
    <p>           <%= link_to "Meet me here", grandparents_path %></p>
    </div>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
