.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f4;
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}
